<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Selendroid-Android-Test-Suite" parallel="tests" thread-count="1">
    <test name="MobileTest">
        <classes>
            <class name="Selendroid.Runner.CucumberRunner"/>
        </classes>
    </test>
    <test name="WebTest">
        <classes>
            <class name="Selendroid.Runner.CucumberRunner"/>
        </classes>
    </test>
</suite>
